body {
  /**  FONT AND LINK COLOURS *****************************************/
  --font-color: #666;
  --link-color: rgb(131, 135, 148);
  --link-hover-color: rgb(72, 162, 247);
  --link-hover-bg: #ebf5fe;
  --border-color: #d5dce2;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  max-width: 1300px;
  margin: 0px auto 0px auto;
}
