.navLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--link-color);
  font-size: 19px;
  font-weight: 700;
}

.navLink:hover {
  background-color: var(--link-hover-bg);
  color: var(--link-hover-color);
  border-radius: 30px;
  transition: color 300ms ease-out;
}

.navLink > .mdIcon {
  padding: 15px;
  font-size: 26px;
}
