.navBar {
  flex: 0.2;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.avatar {
  background-color: orangered !important;
  padding: 20px;
  margin: 15px;
}
.navLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--link-color);
}

.navLink:hover {
  background-color: var(--link-hover-bg);
  color: var(--link-hover-color);
  border-radius: 30px;
  transition: color 300ms ease-out;
}
.navLink > h2 {
  font-weight: 600;
  font-size: 19px;
  margin-right: 20px;
}

.navLink--active {
  color: var(--link-hover-color);
}

.navLink > .MuiSvgIcon-root {
  padding: 15px;
  font-size: 30px;
}

.navBar-new-post {
  background-color: var(--link-hover-color) !important;
  border: none !important;
  color: #fff !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}
