.addCardContent > .MuiInputBase-root {
  background-color: sienna;
  margin-top: 10px;
}

.cards {
  margin-top: 30px;
}

.cardContent {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.addCardButton {
  background-color: var(--link-hover-color) !important;
  border: none !important;
  color: #fff !important;
  border-radius: 30px !important;
  height: 60px !important;
}

.addCardButton > .MuiSvgIcon-root {
  padding: 15px;
  font-size: 30px;
  color: white;
}

.displayedCard {
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 3px rgba(170, 170, 170, 0.2);
}

.card {
  margin: 10px 20px 5px 10px;
}
